<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        YouwaaY
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Hakkımızda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">S.S.S <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button type="button" class="btn btn-danger">+Deneyim Paylaş </button>
    </div>

</nav>
<div>
    <div class="background-gradient ">
        <div class="logo-text">
            <h1>
                <span class="you">You</span>
                <span class="waay">waaY</span>
            </h1>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Meslek/Bolum" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>

    </div>

</div>